DISCORD_TOKEN=replace_with_your_new_discord_bot_token
MYSQL_HOST=replace_with_mysql_host
MYSQL_PORT=3306
MYSQL_USER=replace_with_mysql_user
MYSQL_PASSWORD=replace_with_mysql_password
MYSQL_DATABASE=replace_with_mysql_database
